{% extends 'layouts/base.html.twig' %}

{% block title %}Projects Repertory{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-12 mx-auto">
    <h1 class="mb-4 text-center text-muted">Projects Repertory</h1>
        {% for project in projects %}
                {% for project in projects %}
                    <div class="col-md-4">
                        <article class="pin bg-white rounded shadow">
                            <div class="mw-100 rounded-top overflow-hidden">
                                <a href="{{ path('property.show', {id: project.id, slug: project.slug}) }}">
                                    <img class="card-img-top" src="{{ asset('uploads/' ~ project.photo)|imagine_filter('article') }}" alt="{{ project.name }}">
                                </a>
                            </div>
                            <h2 class="h5 pl-3 pt-3"><a href="{{ path('property.show', {id: project.id, slug: project.slug}) }}" class="text-secondary text-decoration-none">{{ project.name }}</a></h2>
                            <p class="text-break pl-3 pb-3">
                                {{ project.description|length > 100 ? project.description|slice(0, 100) ~ '...' }}
                            </p>
                            {# <p class="text-muted pl-3 pb-3">
                            <small>
                                Submitted by
                                {% for user in projects.users %}
                                {{ user.fullName }}
                                {% endfor %}
                            </small>
                        </p> #}
                            {# <p class="text-muted pl-3 pb-3">
                            <small>
                                Categories
                                {% for category in project.category %}
                                {{ category.photo }}
                                {% endfor %}
                            </small>
                        </p> #}
                        </article>
                    </div>
                {% endfor %}

        {% else %}

            <p class="h1 mt-5 text-center">No projects yet. <a href="{{ path('projects_new') }}">Be the first</a></p>

        {% endfor %}


<p class="h1 mt-5 text-center"><a href="{{ path('projects_new') }}">Create new</a></p>
    </div>
</div>

{% endblock %}
