{% set isLogged = (user is not empty) %}
{% extends isLogged ?'layouts/admin.html.twig' : 'layouts/base.html.twig' %}

{% block title %}Projects Repertory{% endblock %}

{% block body %}
    <div class="dashboard-content-container" data-simplebar>
        <div class="dashboard-content-inner" >
            {{ form_start(form) }}
            <div class="row">
                <div class="col-5">{{ form_row(form.words) }}</div>
                <div class="col-5">{{ form_row(form.category) }}</div>
                <div class="col-2">{{ form_row(form.search) }}</div>
            </div>
            {{ form_end(form) }}
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 content-left-offset">

                        <h3 class="page-title">Search Results</h3>
                        <!-- Freelancers List Container -->
                        <div class="freelancers-container freelancers-grid-layout margin-top-35">

                            {% if projects|length > 0 %}
                                <div class="col-xl-12 col-lg-12 content-left-offset">
                                    <div class="listings-container grid-layout margin-top-35">
                                        {% for list in projects %}
                                            <!-- Job Listing -->
                                            <a href="{{ path('projects_show', {id: list.id, slug: list.slug}) }}" class="job-listing">

                                                <!-- Job Listing Details -->
                                                <div class="job-listing-details">
                                                    <!-- Logo -->
                                                    <div class="job-listing-company-logo">
                                                        {% if list.images %}
                                                            {% for image in list.images %}
                                                                {% if loop.first %}
                                                                    <img class="card-img-top" src="{{ asset('uploads/' ~ image.name) }}">
                                                                {% endif %}
                                                            {% endfor %}
                                                        {% endif %}
                                                    </div>
                                                    <!-- Details -->
                                                    <div class="job-listing-description">
                                                        <ul>
                                                            {% for cat in list.category %}
                                                                <li class="italic">{{ cat.name }}</li>
                                                            {% endfor %}
                                                        </ul>
                                                        <h3 class="job-listing-title">{{ list.name }}</h3>
                                                    </div>
                                                </div>
                                                {% if app.user %}
                                                <!-- Job Listing Footer -->
                                                    <div class="job-listing-footer">
                                                        <span class="bookmark-icon"></span>
                                                        <p class="text-break pl-3 pb-3">
                                                            {{ list.description|length > 60 ? list.description|slice(0, 60) ~ '...' }}
                                                        </p>
                                                        <ul>

                                                        </ul>
                                                    </div>
                                                {% endif %}
                                            </a>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% else %}

                                <p class="h1 mt-5 text-center">No projects yet. <a href="{{ path('projects_new') }}">Be the first</a></p>

                            {% endif %}

                        </div>
                        <!-- Freelancers Container / End -->

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

