{% extends 'layouts/base.html.twig' %}

{% block title %}Projects{% endblock %}

{% block body %}
    <h1>Projects</h1>

    <div class="row">
        <div class="col-md-6 mx-auto">
            <artile class="pin bg-white rounded shadow">
                <div class="mw-100 rounded-top overflow-hidden">
                    <img class="card-img-top" src="{{ asset('uploads/' ~ project.photo) }}" alt="{{ project.name }}">
                </div>
                <div class="p-3">
                    <h1 class="h5 text-secondary"><a href="{{ path('property.show', {id: project.id, slug: project.slug}) }}" class="text-decoration-none">{{ project.name }}</a></h1>
                    <p class="text-muted">
                        <small>
                            Submitted

                        </small>
                    </p>
                    <p class="text-break pt-3">
                        {{ project.description }}
                    </p>
                    <div class="pt-3">
                        <a href="{{ path('projects_edit', {id: project.id}) }}" class="btn btn-light">Edit the project</a>
                        <a href="#" onclick="event.preventDefault(); confirm('êtes-vous sûr(e)?') && document.getElementById('js-pin-delete-form').submit();" class="btn btn-light">Remove the project</a>

                        <form id="js-pin-delete-form" action="{{ path('projects_delete', {id: project.id}) }}" method="post" style="display: none;">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token('projects_deletion_' ~ project.id) }}">
                            <input type="hidden" name="_method" value="DELETE">
                        </form>
                    </div>
                </div>
            </artile>
        </div>
    </div>

    <a href="{{ path('projects_index') }}" class="btn btn-light">back to list</a>
{% endblock %}
