<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}HOME Projects Dashboard{% endblock %}</title>
        {% block stylesheets %}
            {{ include('admin/partials/head.html.twig') }}
        {% endblock %}
    </head>
    <body>
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <main role="main" id="main-wrapper" data-theme="light" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
          data-sidebar-position="fixed" data-header-position="fixed" data-boxed-layout="full">

        {{ include('admin/partials/_header_connected.html.twig') }}
        {% block sidebar %}
        {{ include('admin/partials/aside.html.twig') }}
        {% endblock %}
        <div class="page-wrapper">

            {% block body %}{% endblock %}
            <footer class="footer text-center text-muted">
                <p class="text-muted">
                    <small>
                        &copy; {{ 'now'|date('Y') }} &middot;
                        Built with <span class="text-danger">&hearts;</span> by <a href="www.yves.com">Yves Ininahazwe</a>
                    </small>
                </p>
            </footer>

        </div>

    </main>

        {% block javascripts %}
            {{ include('admin/partials/scripts.html.twig') }}
        {% endblock %}
    </body>
</html>
