<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>{% block title %}Welcome to HOME Projects Platform{% endblock %}</title>
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('uploads/site/favicon.png') }}">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        {{ include('layouts/partials/_css.html.twig') }}
    {% endblock %}
</head>
<body>
<main id="wrapper">
    {{ include('admin/partials/_header_connected.html.twig') }}
    <div class="clearfix"></div>
    <div class="dashboard-container">
        {{ include('admin/partials/dash-sidebar.html.twig') }}
        {% block body %}

        {% endblock %}
    </div>
</main

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {{ include('layouts/partials/_scripts.html.twig') }}
{% endblock %}

</body>
</html>