<header id="header-container" class="fullwidth transparent">
    <!-- Header -->
    <div id="header">
        <div class="container">

            <!-- Left Side Content -->
            <div class="left-side">

                <!-- Logo -->
                <div id="logo">
                    <a href="{{ path('home') }}"><img src="{{ asset('uploads/site/logo.png') }}" alt=""></a>
                </div>

                <!-- Main Navigation -->
                <nav id="navigation">
                    <ul id="responsive">
                        <li><a href="{{ path('admin') }}" class="current">Dashboard</a>
                            <ul class="dropdown-nav">
                                <li><a href="index.html">Home 1</a></li>
                            </ul>
                        </li>

                    </ul>
                </nav>
                <div class="clearfix"></div>
                <!-- Main Navigation / End -->

            </div>
            <!-- Left Side Content / End -->

            <!-- Right Side Content / End -->
            <div class="right-side">

                <!-- User Menu -->
                <div class="header-widget">

                    <!-- Messages -->
                    <div class="header-notifications user-menu">
                        <div class="header-notifications-trigger">
                            <a href="#">
                                <div class="user-avatar status-online">
                                    {% if app.user.avatar is not null %}
                                        <img class="rounded-circle" style="width: 45px; height: 45px; border-radius: 45px;" src="{{ asset('uploads/' ~ app.user.avatar) }}" alt="user" />
                                    {% else %}
                                        <img class="rounded-circle" style="width: 45px; height: 45px; border-radius: 45px;" src="{{ asset('uploads/avatar/user.png') }}" alt="user" />
                                    {% endif %}
                                </div>
                            </a>
                        </div>

                        <!-- Dropdown -->
                        <div class="header-notifications-dropdown">

                            <!-- User Status -->
                            <div class="user-status">

                                <!-- User Name / Avatar -->
                                <div class="user-details">
                                    <div class="user-avatar status-online">
                                        {% if app.user.avatar is not null %}
                                            <img class="rounded-circle" style="width: 45px; height: 45px; border-radius: 45px;" src="{{ asset('uploads/' ~ app.user.avatar) }}" alt="user" />
                                        {% else %}
                                            <img class="rounded-circle" style="width: 45px; height: 45px; border-radius: 45px;" src="{{ asset('uploads/avatar/user.png') }}" alt="user" />
                                        {% endif %}
                                    </div>
                                    <div class="user-name">
                                        {{ app.user.firstname }} <span>Homer !</span>
                                    </div>
                                </div>
                            </div>

                            <ul class="user-menu-small-nav">
                                <li><a href="{{ path('admin') }}"><i class="icon-material-outline-dashboard"></i> Dashboard</a></li>
                                <li><a href="{{ path('users_show_perso', {id: app.user.id, lastname: app.user.lastname}) }}"><i class="icon-material-outline-settings"></i> Settings</a></li>
                                <li><a href="{{ path('app_logout') }}"><i class="icon-material-outline-power-settings-new"></i> Logout</a></li>
                            </ul>

                        </div>
                    </div>

                </div>
                <!-- User Menu / End -->

                <!-- Mobile Navigation Button -->
                <span class="mmenu-trigger">
                        <button class="hamburger hamburger--collapse" type="button">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </span>

            </div>
            <!-- Right Side Content / End -->

        </div>
    </div>
    <!-- Header / End -->

</header>
<div class="clearfix"></div>

<script src="https://cmp.osano.com/16CVzkSHpebvwAiU5/784cd711-ef42-4c41-9306-53e0e90badb9/osano.js"></script>
<script>
    /*function initAutocomplete() {
        var options = {
            types: ['(cities)'],
            // componentRestrictions: {country: "us"}
        };

        var input = document.getElementById('autocomplete-input');
        var autocomplete = new google.maps.places.Autocomplete(input, options);
    }

    // Autocomplete adjustment for homepage
    if ($('.intro-banner-search-form')[0]) {
        setTimeout(function(){
            $(".pac-container").prependTo(".intro-search-field.with-autocomplete");
        }, 300);
    }*/

</script>