{% extends 'layouts/base.html.twig' %}

{% block title %}Categories{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-6 mx-auto">
        <h1>SDG Description</h1>
        <a class="btn btn-light" href="{{ path('categories_index') }}">back to list</a>
        <table class="table">
            <tbody>
                <tr>
                    <th>Name</th>
                    <td>{{ category.name }}</td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td>{{ category.description }}</td>
                </tr>
                <tr>
                    <th>Icon</th>
                    <td>
                        <img class="icon-cat card-img-top" src="{{ asset('uploads/' ~ category.photo)|imagine_filter('echelle') }}" alt="{{ category.name }}">
                    </td>
                </tr>
            </tbody>
        </table>

        <a href="{{ path('categories_edit', {id: category.id}) }}" class="btn btn-light">Edit the project</a>
        <a href="#" onclick="event.preventDefault(); confirm('êtes-vous sûr(e)?') && document.getElementById('js-pin-delete-form').submit();" class="btn btn-light">Remove the project</a>

        {{ include('categories/_delete_form.html.twig') }}

    </div>
</div>

{% endblock %}
