{% extends 'layouts/admin.html.twig' %}

{% block title %}Users Management{% endblock %}

{% block body %}
    <div class="dashboard-content-container" data-simplebar>
        <div class="dashboard-content-inner" >
            <div class="card">
                <div class="card-body">
                    <div class="d-flex align-items-center mb-4">
                        <h4 class="card-title">All users</h4>
                        <div class="ml-auto">
                            <div class="dropdown sub-dropdown">
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table no-wrap v-middle mb-0">
                            <thead>
                            <tr class="border-1">
                                <th class="border-0 font-14 font-weight-medium text-muted">Name & Email</th>
                                <th class="border-0 font-14 font-weight-medium text-muted text-center">Role</th>
                                <th class="border-0 font-14 font-weight-medium text-muted text-center">Projects</th>
                                <th class="border-0 font-14 font-weight-medium text-muted text-center">Show</th>
                                <th class="border-0 font-14 font-weight-medium text-muted">Edit</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for user in users %}
                            <tr>
                                <td class="px-2 py-4">
                                    <div class="d-flex no-block align-items-center">
                                        <div class="mr-3"><img class="rounded-circle" style="width: 45px; height: 45px; border-radius: 50%" src="{{ asset('uploads/' ~ user.avatar) }}"></div>
                                        <div class="">
                                            <h5 class="text-dark mb-0 font-16 font-weight-medium">{{ user.fullname }}</h5>
                                            <span class="text-muted font-14">{{ user.email }}</span>
                                        </div>
                                    </div>
                                </td>
                                <td class="text-center px-2 py-4">
                                    {% for role in user.roles %}
                                        {% if role=="ROLE_USER" %}
                                            student
                                        {% elseif role=="ROLE_ADMIN" %}
                                            Mentor
                                        {% elseif role=="ROLE_SUPER_ADMIN" %}
                                            Webmaster
                                        {% endif %}
                                    {% endfor %}

                                </td>
                                <td class="text-center px-2 py-4">
                                    {{ user.projects|length }}
                                </td>
                                <td class="text-center font-weight-medium text-muted px-2 py-4">
                                    <button type="button" class="btn btn-success">
                                        <a class="text-white" href="{{ path('users_show', {'id': user.id, 'lastname': user.fullName}) }}">show</a>
                                    </button>
                                </td>
                                <td class="font-weight-medium text-dark px-2 py-4">
                                    <button type="button" class="btn btn-warning">
                                        <a class="text-white" href="{{ path('users_edit', {'id': user.id}) }}">edit</a>
                                    </button>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
